<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Error 404</title>

  <!-- Google font -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

  <!-- Styles -->
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <div class="page-wrapper">
      <div class="error-code">{{errorCode}}</div>
      <p class="error-text">{{errorText}}</p>
  </div>
</body>
</html>