*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}


html {
    scroll-behavior: smooth;
    font-size: 62.5%    // 1rem = 10px
}


body {
    box-sizing: border-box;
    background-color: $color-grey-light;
    overflow: hidden;
}


.page-wrapper {
    width: 75vw;
    height: 80vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1rem 1.5rem rgba($color-black, .2);
    overflow: hidden;
}