html {
    font-family: 'Montserrat', sans-serif;
}


.heading-primary {
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 8rem;
    padding: .8rem;
    margin-top: 3rem;
    background-image: linear-gradient(147deg, $color-primary-light, $color-primary);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    z-index: 0;
}

