$color-primary-light: #05cfd8;
$color-primary: #25a7bf;
$color-primary-dark: #353d4a;

$color-red: #d8000c;

$color-yelloworange: #fcd462;

$color-black: #000;
$color-white: #fff;

$color-grey-light: #f1f7f7;
$color-grey: #888;